body {
    margin: 0;
    padding: 0;
  }
  
  nav#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #eb136d;
    color: rgb(9, 238, 35);
    padding: 10px 20px;
    z-index: 1000;
    transition: background-color 0.3s;
  }
  
  nav#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  nav#navbar ul li {
    display: inline-block;
  }
  
  nav#navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s, background-color 0.3s;
  }
  
  nav#navbar ul li a:hover {
    background-color: #555;
  }
  
  nav#navbar.scrolled {
    background-color: #222;
  }
  
  section {
    padding: 60px 20px;
    margin-top: 60px;
  }
  